body {
	font-family: arial;
	margin: 0;
	padding: none;
	background-color: black !important;
	color: white;
}

.emscripten { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
div.emscripten { text-align: center; }      
div.emscripten_border { border: 1px solid black; }
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten { 
	border: 0px none; 
	width: 100%;
}

.spinner {
	height: 30px;
	width: 30px;
	margin: 0;
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;

	-webkit-animation: rotation .8s linear infinite;
	-moz-animation: rotation .8s linear infinite;
	-o-animation: rotation .8s linear infinite;
	animation: rotation 0.8s linear infinite;

	border-left: 5px solid rgb(235, 235, 235);
	border-right: 5px solid rgb(235, 235, 235);
	border-bottom: 5px solid rgb(235, 235, 235);
	border-top: 5px solid rgb(120, 120, 120);

	border-radius: 100%;
	background-color: rgb(189, 215, 46);
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(360deg);}
}

#status {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 20px;
	font-weight: bold;
	color: rgb(120, 120, 120);
}

#progress {
	height: 20px;
	width: 30px;
}

#controls {
	display: inline-block;
	float: right;
	vertical-align: top;
	margin-top: 30px;
	margin-right: 20px;
}

#cmd{
	width: 100%;
	height: 200px;
}
#command {
    margin-top: 5px;
	width: 100%;
	height: 180px;
	background-color: #555555;
	color: white;
	font-family: 'Lucida Console', Monaco, monospace;
	outline: none;
}
#runBtn{
	margin-top: 5px;
	margin-right: 10px;
	float: right;
}
#uploadBtn{
	margin-top: 5px;
	margin-right: 10px;
	float: left;
}
span.glyphicon-link {
    font-size: 1.2em;
}
#instruction{
	text-align: center;
	color : white;
	font-size: 0.8em;
	margin-bottom: 2px;
	
}
#smartbody-logo{
	width: 120px;
	height: auto;
}
#ict-logo{
	margin-left: 10px;
	margin-top: 10px;
	width: 150px;
	height: auto;
}
#div-container{
	margin-top: 10px;
}
#left-panel{
	float: left;
	width: 80%;
	margin-left:10px;
}
#right-panel{
	float: right;
	width: 18%;
	max-height: 100%;
	margin-top: 20px;
	margin-right: 15px;
	
}
#file-list{
	overflow-y: scroll;
    max-height: 200px;
}
/* layout.css Style */
.upload-drop-zone {
  height: 100px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 100px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

